{% extends 'base.html.twig' %}

{% block title %}Level{% endblock %}

{% block body %}
    {% for level in levels %}


        <a ><h1>Compra ya tu nivel {{ level.name  }}</h1></a>


        </div>

    {% endfor %}
    <div class="reg-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-success" value="Comprar Ya">
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>


{% endblock %}