{% extends 'base.html.twig' %}

{% block title %}Level{% endblock %}

{% block body %}
    <p id="subtitulo">Rutina por Niveles</p>
    {% for level in levels %}

        <a>{{ app.user.level.name }}</a>
        <div class="rutinabloque">
            {% if  app.user.level.price >= level.price%}
                <a class="rutinasub" href="{{ path('level',{'id':level.id} )}}"><h1>{{ level.name }}</h1></a>

                </div>
            {% else %}
                <a ><h1 class="rutinasub">{{  level.name }} (Sin Acceso)</h1>
                    <h2 class="precio">{{ level.price }}€</h2></a>
                <a class="rutinacceso" href="{{ path('buy_level',{'id':level.id,'user':app.user.id} )}}">Comprar Ya!</a>

            {% endif %}




    {% endfor %}
{% endblock %}
