<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}CaliDAW{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/sticky-footer-navbar.css') }}">
        <link rel="stylesheet" href="{{ asset('css/responsive.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Rationale" rel="stylesheet">
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css'>

    {% endblock %}

</head>

<body>
<div id="menu">
    <div id="menui"><p id="logo"><a id="letra-logo" href="{{ path('app_homepage') }}">CALIDAW</a>
    </div>
    <div id="menum">
            <nav class="main-nav">
                <ul>
            {% if app.user is null %}
                <li id="focus"><a class="letra-menu separacion menu-link" href="{{ path('muscle') }}">Ejercicios</a></li>
                <li><a class="letra-menu separacion menu-link" href="{{ path('nutrition') }}">Nutrición</a></li>
                <li><a class="letra-menu separacion menu-link" href="{{ path('retos') }}">Retos</a></li>
                <li class="menu-trigger"> <a href="#"><i class="zmdi zmdi-menu"></i></a></li>

            {% else %}
                <li id="focus"><a class="letra-menu separacion menu-link" href="{{ path('muscle') }}">Ejercicios</a></li>
                <li><a class="letra-menu separacion menu-link" href="{{ path('nutrition') }}">Nutrición</a></li>
                <li><a class="letra-menu separacion menu-link" href="{{ path('retos') }}">Retos</a></li>
                <li><a class="letra-menu separacion menu-link" href="{{ path('app_level') }}">Rutinas</a></li>

                <li class="menu-trigger"> <a href="#"><i class="zmdi zmdi-menu"></i></a></li>

            {% endif %}
        </ul>
            </nav>

    </div>
    <aside class="menu">
        <div class="menu-inner">
            <p class="menu-close"> <a href="#"><i class="zmdi zmdi-close"></i></a></p>
            <ul class="menu-pages">
                <li class="menu-page-link"><a href="{{ path('app_homepage') }}">Inicio</a></li><br>
                <li class="menu-page-link"><a href="{{ path('muscle') }}">Ejercicios</a></li><br>
                <li class="menu-page-link"><a href="{{ path('app_level') }}">Rutinas</a></li><br>
                <li class="menu-page-link"><a href="{{ path('retos') }}">Retos</a></li><br>

                <li class="menu-page-link"><a href="{{ path('nutrition') }}">Nutrición</a></li>

            </ul>
        </div>
    </aside>
    <div id="menud">
        {% if app.user is null %}
        <button id="login-button" class="inicios" href="{{ path('app_login') }}">Iniciar Sesión</button>

        <div class="login-container">
            <form class="login-form" action="{{ path('app_login') }}" method="post">

                <input type="text" placeholder="Email" id="email" name="_username" class="form-control"/>


                <input type="password" placeholder="Contraseña" id="password" name="_password" class="form-control"/>

                <button id="entrar" type="submit" class="btn btn-success">Ir</button>
            </form>
        </div>
        <a id="reg-button" class="registro" href="{{ path('app_register') }}" >Registrarse</a>
    </div>
    {% else %}

        <a class="registro3" href="{{ path('app_perfil') }}">Perfil {{ app.user.username }}</a>
        <a class="salir" href="{{ path('app_logout') }}">Salir</a>
    {% endif %}
</div>
</div>
<div class="overlay hide"></div>

{% block body %}{% endblock %}
<script  src="js/index.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="js/indexx.js"></script>


</div>






</body>

</html>
