<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}CaliDAW{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/sticky-footer-navbar.css') }}">
    {% endblock %}

</head>

<body>
<div id="menu">
    <div id="menui"><p id="logo"><a id="letra-logo" href="{{ path('app_homepage') }}">CALIDAW</a>
    </div>
    <div id="menum"><ul>
            <li id="focus"><a class="letra-menu separacion" href="{{ path('exercise') }}">Ejercicios</a></li>
            <li><a class="letra-menu separacion" href="#slide-three">Rutinas</a></li>
            <li><a class="letra-menu separacion" href="#slide-four">Nutrición</a></li>
            <li><a class="letra-menu separacion" href="#slide-four">Tienda</a></li>
        </ul>
        {% if app.user is null %}
    </div>
    <div id="menud">
        <a href="{{ path('app_login') }}">Iniciar Sesión</a>

        <a href="{{ path('app_register') }}" >Registrarse</a>
    </div>
    {% else %}
        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>

    {% endif %}
</div>
</div>

{% block body %}{% endblock %}
<script  src="js/index.js"></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script  src="js/indexx.js"></script>

<footer><div id="debajo">
        <ul>
            <li><a class="letra-footer separacionfooter separacion" href="#slide-two">Facebook</a></li>
            <li><a class="letra-footer separacion" href="#slide-three">Twitter</a></li>
            <li><a class="letra-footer separacion" href="#slide-four">Pinterest</a></li>
            <li><a class="letra-footer separacion" href="#slide-four">Instagram</a></li>
            <li><a class="letra-footer separacion" href="#slide-four">Youtube</a></li>
        </ul></div></footer>
</div>






</body>

</html>








