{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-4 box-form">
        <h2>Editar Perfil</h2>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-success" value="Guardar Cambios">
        <a href="{{ path('app_perfil') }}">Volver al Perfil</a>
        {{ form_errors(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}